.toggle-component {
  display: inline-block;

  /* The switch - the box around the slider */

  font-size: 17px;
  height: 2rem;
  position: relative;
  width: 3.5rem;

  /* Hide default HTML checkbox */

  & input {
    position: relative;
    z-index: 10;
    opacity: 0;
    height: 1.7rem;
    width: 1.7rem;
    margin: 0.1rem 0 0 0;
    padding: 0;
    cursor: pointer;

    &:first-of-type {
      margin-right: 0.1rem;
    }
  }

  /* The slider */

  & .slider {
    background-color: #fff;
    border: 1px solid #adb5bd;
    border-radius: 30px;
    cursor: pointer;
    inset: 0;
    position: absolute;

    @media (--motion-ok) {
      transition: .4s;
    }

    &::before {
      background-color: #adb5bd;
      border-radius: 20px;
      bottom: 0.25rem;
      content: "";
      height: 1.4rem;
      left: 0.27rem;
      position: absolute;
      width: 1.4rem;

      @media (--motion-ok) {
        transition: .4s;
      }
    }
  }

  & input:checked + .slider {
    background-color: var(--accent-1);
    border: 1px solid var(--text-2);

    &::before {
      background-color: #fff;
      transform: translateX(1.4rem);
    }
  }

  & input:disabled ~ .slider {
    background-color: gray;
    cursor: initial;

    &::before {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  &:has(input:focus-visible) .slider {
    background-color: var(--accent-1-200);

    &::before {
      background-color: #fff;
    }
  }
}
