.toggle-component {
  /* The switch - the box around the slider */

  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;

  /* Hide default HTML checkbox */

  & input {
    opacity: 0;
  }

  /* The slider */

  & .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    border-radius: 30px;
    @media (--motion-ok) {
      transition: .4s;
    }

    &:before {
      position: absolute;
      content: "";
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 20px;
      left: 0.27rem;
      bottom: 0.25rem;
      background-color: #adb5bd;
      @media (--motion-ok) {
        transition: .4s;
      }
    }
  }

  & input:checked + .slider {
    background-color: var(--accent-1);
    border: 1px solid var(--text-2);

    &:before {
      transform: translateX(1.4rem);
      background-color: #fff;
    }
  }

  & input:disabled + .slider {
    background-color: gray;
    cursor: not-allowed;

    &:before {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  &:has(input:focus-visible) .slider {
    background-color: var(--accent-1-200);
    &:before {
      background-color: #fff;
    }
  }

}
