# No IDE specific files should ever make it into the repo
.idea
.vscode

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

dist
reports
node_modules
storybook-static

.cache
server/index.js
server/index.js.map
public/build
preferences.arc
sam.json
sam.yaml
.env

/test-results/
/playwright-report/
/playwright/.cache/
