# No IDE specific files should ever make it into the repo
.idea
.vscode

# PostCSS generates the styles here for remix to then pick it up and bundle it
src/styles

dist
reports
node_modules

.cache
server/index.js
server/index.js.map
public/build
preferences.arc
sam.json
sam.yaml
.env

# Since this is a "create" package, lockfiles are not included. This is to ensure that the latest versions of
# dependencies are used when creating a new project.
pnpm-lock.yaml
package-lock.json
yarn.lock
