@import url("./sun-and-moon.css");

.color-mode-toggle-container {
  --size: 2rem;

  display: inline-block;
  padding: 3px;
}

.color-mode-toggle {
  --icon-fill: hsl(210deg 10% 30%);
  --icon-fill-hover: hsl(210deg 10% 15%);

  aspect-ratio: 1;
  background: none;
  block-size: var(--size);
  border: none;
  border-radius: 50%;

  /* Acknowledged issue but still nice to have on browsers that support it */

  /* doiuse-disable pointer */
  cursor: pointer;
  inline-size: var(--size);
  margin: 0;
  outline-offset: 5px;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

  /* Acknowledged issue but still nice to have on browsers that support it */

  /* doiuse-disable css-touch-action */
  touch-action: manipulation;

  & > svg {
    block-size: 100%;
    inline-size: 100%;
    stroke-linecap: round;
  }

  @nest .dark & {
    --icon-fill: hsl(210deg 10% 70%);
    --icon-fill-hover: hsl(210deg 15% 90%);
  }

  @media (hover: none) {
    --size: 48px;
  }
}
