html {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  height: 100dvh;
  margin: 0;
}

body {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto;
  height: inherit;
  justify-items: center;
  margin: 0;
}
