
@import url("./dark.css");

@import url("./light.css");

@import url("./components/ColorModeSwitcher/color-mode-toggle.css");

@custom-media --motion-ok (prefers-reduced-motion: no-preference);

html {
  block-size: 100%;
  color: var(--color-primary);
  color-scheme: light;
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100dvh;
  margin: 0;
}

body {
  align-items: center;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: 1fr auto;
  height: inherit;
  justify-items: center;
  margin: 0;
}

.centered-button {
  animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
  text-align: center;
}


/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@keyframes tracking-in-contract {
  0% {
    filter: blur(12px);
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    filter: blur(0);
    letter-spacing: normal;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@keyframes slide-in-fwd-center {
  0% {
    opacity: 0;
    transform: translateZ(-1400px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

