@import url("./light.css");
@import url("./dark.css");
@import url("./_all.css");

@custom-media --motion-ok (prefers-reduced-motion: no-preference);

.dark,.light {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

html {
  block-size: 100%;
  font-family: 'IBM Plex Sans', sans-serif;

  /* stylelint-disable-next-line number-max-precision -- This precision is required for the exact font sizes */
  font-size: calc(15px + 0.390625vw);
  height: 100dvh;
  margin: 0;

  --accent-1: #16a799;
  --accent-1-200: #8BD3CC;
  --accent-2: #FF8A65;
}

body {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto;
  height: inherit;
  justify-items: center;
  margin: 0;
}

button {
  font-size: inherit;
  padding: .5rem 1.2rem;
}

button.primary {
  background-color: var(--accent-1);
}

.centered-button {
  @media (--motion-ok) {
    animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
  }

  text-align: center;
}


/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@keyframes tracking-in-contract {
  0% {
    filter: blur(12px);
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    filter: blur(0);
    letter-spacing: normal;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@keyframes slide-in-fwd-center {
  0% {
    opacity: 0;
    transform: translateZ(-1400px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
